<!DOCTYPE html>
<html lang="en">
  {% include "shared/head" %}
  <body id="{{slug}}">
    <section id="wrapper">
      {% include "shared/header" %}	
        <article>
            <section role="main">
                <h1>{{ headline }}</h1>
                {{ body }}
            </section>
        </article>
      {% include "shared/nav" %}
    </section>
    {% include "shared/piwik" %}
  </body>
</html>