<head>
  <meta charset="utf-8">
  <title>{{headline}} | {{site_name}}</title>
  <link href="http://fonts.googleapis.com/css?family=Lato:300,700|Quicksand:300" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/stylesheets/screen.css" type="text/css">
  <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>