<nav id="projects">
  <ul>
    {% for project in navigation %}
      <li>
        <a href="{{ project.permalink }}">
          {% if project.images|first %}
            <img src="{{ project.images[0].path }}" alt="{{ project.images[0].name }}">
          {% endif %}
          {{ project.headline }}
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>