#identity {
    position: relative;
    width: 6em;
    height: 6em;
    margin: 1em auto;
    z-index: 1;
    font-size: 400%;
    text-align: center;
    
    .face {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 2px solid $black;
        @include border-radius(3em);
    }
    
    #front {
        font-family: Quicksand, serif;
        font-weight: 300;
        line-height: 6em;
        letter-spacing: 2px;
        text-rendering: optimizeLegibility;
    }
    
    h1 {
        font-size: 100%;
    }
}
